:root {
    --dark: #323432;
    --light: #C7E5C9;
    --lightest: #D2F3CE;

    --space-1: 1rem;
    --space-2: 1.25rem;
    --space-3: 1.5rem;
    --space-4: 1.75rem;
    --space-5: 2rem;
    --space-6: 2.25rem;
    --space-7: 2.5rem;
    --space-8: 2.75rem;
    --space-9: 3rem;
    
}

body{ 
    display: 'grid';
    min-height: '100vh';
    place-items: 'center';
}

.input-form{
    display: grid;
    grid-template-columns: repeat(2, .8fr);
}

/* Composition */
.centered-display {
    display: grid;
    place-items: center;
}

/* utility */
.height-min {
    min-height: 100vh;
}

.gap-1 {
    gap: 1em;
}

.border-radius {
    border-radius: 1rem;
}

.darker-bg {
    background-color: var(--dark);
}

.text-light {
    color: var(--light);
}

.padding-16 {
    padding: var(--space-1);
}

.padding-24{
    padding: var(--space-3);
}

.padding-48{
    padding: var(--space-9);
}

.text-align-left {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: end;
}

.push-right {
    margin-left: auto;
}
