:root {
    --dark: #323432;
    --light: #C7E5C9;
    --lightest: #D2F3CE; 
}

body{ 
    display: 'grid';
    min-height: '100vh';
    place-items: 'center';
}

.input-form{
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
}

/* Composition */
.centered-display {
    display: grid;
    place-items: center;
}

/* utility */
.height-min {
    min-height: 100vh;
}

.gap-1 {
    gap: 1em;
}

.border-radius {
    border-radius: 1rem;
}

.darker-bg {
    background-color: var(--dark);
}

.text-light {
    color: var(--light);
}
